:root{
	--background:#e0e5ec;
	--background2:#000000;
    --white:#fff;
	--gray:#797d7f;
    --blue:#5c87fe;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    font-family:arial;
    background: var(--white);
    /* linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding:0 2%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    user-select: none;
}

h2{
    text-align: center;
    margin:20px 0;
    color:var(--gray);
}

.box{
    width:320px;
    height:470px;
    display: flex;
    flex-direction: column;
    background-color:var(--background);
}

.visor{
    width:100%;
    height:100px;
}
.visor .value {
    width:100%;
    height:100%;
    text-align: right;
    border:0;
    border:1px solid rgba(0, 0, 0, 0.1);
    opacity:0.5;
    outline:none;
    font-size:30px;
    padding-right:10px;
}

.menu{
    width:100%;
    display: flex;
}

.button-clear{
    width:50%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    color:var(--white);
    background-color: red;
    cursor: pointer;
    border:1px solid var(--white);
}
.button-calc{
    width:50%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    border-top:1px solid #fff;
    cursor: pointer;
}

.button-calc div{
    width:50%;
    height:60px; 
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    border:1px solid #fff;
    color: #fff;
    background-color: #00d0ff;
}
.button-calc div:nth-child(1){
    color: #fff;
    background-color: #00ad48;
    border:1px solid #fff;
}

.w50{
    width:100%;
    display: flex;
}

.button-number{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}

.button-number div{
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items:center;
    color:var(--blue);
    background-color: white;
    border:1px solid #fff;
    cursor: pointer;
}

.button-number div.btn{
    color:#fff;
    background-color:#0095ff;
}
.button-number div.btn-soma{
    color:#fff;
    background-color:#00d0ff;
}




/* ACTIVE CSS */
.button-clear:active{
    color:var(--white);
    background-color:#cc0c0c;
}

.button-number div:active{
    background-color:#ececec;
    
}

.button-calc:active{
    background-color:#ececec;
}


.calc{
    color:var(--white) !important;
    background-color: #0062ff !important;
}
.calc:active{
    color:#fff !important;
    background-color: #004fcf !important;
}